{% load widget_tweaks %}

{% load static i18n %}

<div class="card my-2 justify-content-md-start">
    <div class="card-header"><h4>{% trans "Create competition" %}</h4></div>
    <div class="card-body">
        <form method="post" action={% url 'groups:create_competition' group.id %}>
        {% csrf_token %}
        
        <p>
            <div class="form-floating mb-3">
                {% render_field form.title class="form-control" %}
                {{ form.title.label_tag }}
            </div>
            <div class="form-floating mb-3">
                {% render_field form.description class="form-control"%}
                {{ form.description.label_tag }}
            </div>
            <div class="form-floating mb-3">
                {% render_field form.start_date class='flatpickr js-flatpickr-dateTime form-control' %}
                {{ form.start_date.label_tag }}
            </div>
            <div class="form-floating mb-3">
                {% render_field form.end_date class='flatpickr js-flatpickr-dateTime form-control' %}
                {{ form.end_date.label_tag }}
            </div>
        </p>
        <button class="btn btn-success" type="submit">{% trans "Create" %}</button>
    </form>
    </div>
</div>
