{% extends 'base.html' %} 
{% load static %}

{% block title %}{{group.name}}{% endblock title %}
{% block extra_head %}
    <script src={% static 'js/groups/group_details.js' %} type='module'></script>
{% endblock extra_head %}

{% block main_content %}
<div class="wrapper">
    <h2>{{group.name}}</h2>
    <div class='nav-toolbar'>
        <nav class='tabs'>
            <a class='tabs-tab tabs-tab-active'
                data={% url 'groups:get_group_info' group.pk %}>Group</a>
            <a class='tabs-tab'
                data={% url 'groups:get_group_members' group.pk %}>Members</a>
            <a class='tabs-tab' 
                data={% url 'groups:get_group_competitions' group.pk %}>Competitions</a>
        </nav>
        <div id='tab-data'>{% block tab_content %}{% endblock tab_content %}</div>
    </div>
</div>
{% endblock main_content %}
