{% extends 'base.html' %} 
{% load static %}

{% block title %}Groups{% endblock title %}
{% block main_content %}
<div class="wrapper">
    <h2>Groups</h2>
    {% if groups %}
        <div class='list'>
            <table class="table">
                {% for group in groups %}
                <tr>
                    <td>
                        <a href={% url 'groups:group_detail' group.id %}>{{ group.name }}</a>
                    </td>
                    <td>
                        {{ group.description }}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    {% else %}
        <h3>No available groups yet</h3>
    {% endif %}
    <a href={% url 'groups:group_create' %}>Create group</a>
</div>
{% endblock main_content %}
