{% load static i18n %}

{% block tab_content %}
{{ group.description }}
{% if competitions %}
    <div class='list'><table class="table">
            {% for competition in competitions %}
            <tr>
                <td>
                    <a href={% url 'competitions:competition_detail' competition.pk %}>{{ competition.title }}</a>
                </td>
                <td>
                    {{ competition.start_date }}
                </td>
                <td>
                    {{ competition.end_date }}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% else %}
    <h3>{% trans "No active competitions in this group yet" %}</h3>
{% endif %}
{% endblock tab_content %}