{% extends 'base.html' %} 
{% load static i18n %}

{% block title %}{% trans "Groups" %}{% endblock title %}
{% block main_content %}
<div class="wrapper">
    <h2>{% trans "Groups" %}</h2>
    {% if groups %}
        <div class='list'>
            <table class="table">
                {% for group in groups %}
                <tr>
                    <td>
                        <a href={% url 'groups:group_detail' group.id %}>{{ group.name }}</a>
                    </td>
                    <td>
                        {{ group.description }}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    {% else %}
        <h3>{% trans "No available groups yet" %}</h3>
    {% endif %}
    <a href={% url 'groups:group_create' %}>{% trans "Create group" %}</a>
</div>
{% endblock main_content %}
