{% extends 'base.html' %} 
{% load static i18n %}

{% block title %}{{group.name}}{% endblock title %}
{% block extra_head %}
    <script src={% static 'js/groups/group_details.js' %} type='module'></script>
    <script src={% static 'js/groups/delete_user_from_group.js' %}></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
    <link rel="stylesheet" href="{% static 'css/ajax_tabs.css' %}">
    <link rel="stylesheet" href="{% static 'css/buttons.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
{% endblock extra_head %}

{% block main_content %}

<div class="wrapper">
    <h2>{{group.name}}</h2></br>
    <div class="tab-wrap">
        <input type="radio" name="tabs" id="info-tab" data={% url 'groups:get_group_info' group.pk %} checked>
        <div class="tab-label-content">
            <label for="info-tab">
                {% trans "Group" %}
            </label>
        </div>

        <input type="radio" name="tabs" id="members-tab" data={% url 'groups:get_group_members' group.pk %}>
        <div class="tab-label-content">
            <label for="members-tab">
                {% trans "Members" %}
            </label>
        </div>

        <input type="radio" name="tabs" id="competition-tab" data={% url 'groups:get_group_competitions' group.pk %}>
        <div class="tab-label-content">
            <label for="competition-tab">
                {% trans "Competitions" %}
            </label>
        </div>
        <div class="slide"></div>
    </div></br>
    <div id='tab-data'><p>{% block tab_content %}{% endblock tab_content %}</p></div>
</div>
<script>
flatpickr(".js-flatpickr-dateTime", {
    enableTime: true,
    dateFormat: "d.m.Y H:i",
})
</script>
{% endblock main_content %}
