{% load static %}

{% block tab_content %}
{{ group.description }}
{% if competitions %}
    <div class='list'><table class="table">
            {% for competition in competitions %}
            <tr>
                <td>
                    {{ competition.title }}
                </td>
                <td>
                    {{ competition.start_date }}
                </td>
                <td>
                    {{ competition.end_date }}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% else %}
    <h3>No active competitions in this group yet</h3>
{% endif %}
    <a href={% url 'groups:group_create' %} >Create group</a>
{% endblock tab_content %}