{% load static i18n %}

{% block tab_content %}
{% if competitions %}
    <div class="table">
        {% for competition in competitions %}
            <div class="row">
                <div class="cell">
                    <span><a href={% url 'competitions:competition_detail' competition.pk %}>{{ competition.title }}</a></span>
                </div>
                <div class="cell">
                    <span>{{ competition.start_date }}</span>
                </div>
                <div class="cell">
                    <span>{{ competition.end_date }}</span>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <h3>{% trans "No competitions in this group yet" %}</h3>
{% endif %}
<a class="create-button" data={% url 'groups:create_competition' group_id%} id='create-group-competition' onclick="ajax_create_competition_page('GET', document.getElementById('create-group-competition').getAttribute('data'))">{% trans "Create competition" %}</a>
{% endblock tab_content %}