{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Base template{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/judge/base.css' %}">
    {% comment %} <script src="https://kit.fontawesome.com/a076d05399.js"></script> {% endcomment %}
    {% block extra_head %}{% endblock extra_head %}
</head>
<body>
    <nav class='main-menu-tabs'>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <label class="logo">Olympiad-helper</label>
        <ul>
            <li><a href="{% url 'judge:problem_list' %}" class='active'>{% trans "Problems" %}</a></li>
            <li><a href="{% url 'judge:solution_list' %}">{% trans "Queue" %}</a></li>
            <li><a href="{% url 'competitions:competition_list' %}">{% trans "Competitions" %}</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'groups:group_list' %}">{% trans "Groups" %}</a></li>
                <li><a href="{% url 'users:logout' %}">{{user.username}}</a></li>
            {% else %}
                <li><a href="{% url 'users:login_or_signup' %}">{% trans "Sign in/Sign up" %}</a></li>
            {% endif %}
            <li>
                <form action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}">
                    <select name="language">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}
                                    selected{% endif %}>
                                {{ language.name_local }} ({{ language.code }})
                            </option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Go">
                </form>
            </li>
        </ul>
    </nav>
    <div id="form_menu">
        {% block main_content %}

        {% endblock main_content %}
    </div>
</body>
</html>