{% extends 'base.html' %} 
{% load static i18n %}

{% block title %}{{object.title}}{% endblock title %}

{% block main_content %}
    <div class="container" style="padding-top:50px; padding-bottom:50px;">

        <div class="card">
            <div class="card-body">
                <nav style="--bs-breadcrumb-divider: '>'; mb-2" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'judge:problem_list' %}" class="text-decoration-none">{% trans "Problems" %}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{object.title}}</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="card">
            <div class="card-header"><h3>{{object.title}}</h3></div>
            <div class="card-body">
                <p class="card-text">{{object.description|safe}}</br>
                {% if object.description_photo %}
                    <img src='{{object.description_photo.url}}'></p>
                {% endif %}
                
                <strong>{% trans "Input" %}</strong>
                <p class="card-text">{{object.input_condition|safe}}</p>
                
                </br><strong>{% trans "Output" %}</strong></br>
                <p class="card-text">{{object.output_condition|safe}}</p>
                
                <p class="card-text">{% if object.special_warning %}{{ object.special_warning|safe }}{% endif %}</p>
                <hr>
                <p>
                {% comment %} <span>{% trans "Memory limit" %}: {{object.memory_limit}} MiB</span></br> {% endcomment %}
                <span class="card-text">{% trans "Time limit" %}: {{object.time_limit}} {% trans "seconds" %}</span>
                </p>
                <hr>
                {% for sample in object.get_all_samples %}
                    <div class="card-text"><strong>{% trans "Input example " %}#{{forloop.counter}}</strong></br>{{sample.sample_input|linebreaks}}</div>
                    <div class="card-text"><strong>{% trans "Output example " %}#{{forloop.counter}}</strong></br>{{sample.sample_output|linebreaks}}</div>
                    <hr>
                {%empty%}
                    <span class="card-text">{% trans "No samples. Think by yourself." %}</span>
                    <hr>
                {% endfor %}
                {% if user.is_authenticated %}
                    <span><a href="{% url 'judge:submit_solution' object.number %}" class="btn btn-primary">{% trans "Submit solution" %}</a></span>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock main_content %}