{% extends 'base.html' %} 
{% load static i18n widget_tweaks template_tags %}

{% block title %}{% trans "Problems" %}{% endblock title %}

{% comment %} {% block extra_head %}
    <link rel='stylesheet' href="{% static 'css/judge/problem_list.css' %}">
    <link rel='stylesheet' href="{% static 'css/pagination.css' %}">
    <script src="{% static 'js/judge/problem_list.js' %}" type="module"></script>
{% endblock extra_head %} {% endcomment %}

{% block main_content %}
<div class="wrapper">
    <h2>{% trans "Problems" %}</h2>
    <section class="container">
        <div class="dropdown-label">
            {% render_field filter_form.difficulty.label_tag %}
        </div>
        <div class="dropdown-label">
            {% render_field filter_form.classification.label_tag %}
        </div>
        <div class="dropdown-label">
            {% render_field filter_form.number.label_tag %}
        </div></br>
        <div class="dropdown">
            {% render_field filter_form.difficulty class='dropdown-select' %}
        </div>
        
        <div class="dropdown">
            {% render_field filter_form.classification class='dropdown-select' %}
        </div>
        <div class="input">
            {% render_field filter_form.number %}
        </div>
    </section>
    {% if problems %}
        <table class="problem-table">
            <thead>
                <tr>
                    {% if user.is_authenticated %}<th class='table-header table-header-1'>{% trans "Status" %}</th>{% endif %}
                    <th class='table-header table-header-2'>{% trans "Number" %}</th>
                    <th class='table-header table-header-3'>{% trans "Title" %}
                </tr>
            </thead>
            <tbody>
            {% for problem in problems %}
            <tr>
                {% if user.is_authenticated %}
                <td class="problem-status">
                    {% get_user_problem_status problem user  as user_problem_status %}
                    {% if user_problem_status == 'AC' %}
                        <span class="tick tick-success problem-status">&#10004;</span>
                    {% elif user_problem_status == '' %}
                        <span class="tick"></span>
                    {% else %}
                        <span class="tick tick-partial">&#10060;</span>
                    {% endif %}
                </td>
                {% endif %}
                <td class="problem-number">
                    <span class="txt"><a href="{% url 'judge:problem' problem.number %}">{{ problem.number }}</a></span>
                </td>
                <td class="problem-title">
                     <span class="txt"><a href="{% url 'judge:problem' problem.number %}">{{ problem.title }}</a></span>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
            {% endif %}
            {% for i in pages %}
                {% if page_obj.number == i %}
                    <a href="?page={{i}}" class="active">{{i}}</a>
                {% else %}
                    <a href="?page={{i}}">{{i}}</a>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">&raquo;</a>
            {% endif %}
        </div>
    {% else %}
        <h3>{% trans "No problems founded" %}</h3>
    {% endif %}
</div>
{% endblock main_content %}
