{% extends 'base.html' %} 
{% load static i18n %}

{% block title %}{% trans "Problems" %}{% endblock title %}
{% block main_content %}
<div class="wrapper">
    <h2>{% trans "Problems" %}</h2>
    {% if problems %}
        <div class='list'>
            <table class="table">
                {% for problem in problems %}
                <tr>
                    <td>
                        {{ problem.number }}
                    </td>
                    <td>
                        <a href="{% url 'judge:problem' problem.number %}">{{ problem.title }} </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    {% else %}
        <h3>{% trans "No problems founded" %}</h3>
    {% endif %}
</div>
{% endblock main_content %}
