{% extends 'base.html' %} 
{% load static i18n %}

{% block title %}{% trans "Solution" %}#{{object.pk}}{% endblock title %}

{% block main_content %}
    <div class="wrapper">
        <h1>{% trans "Solution" %} #{{object.pk}}</h1>
        <p>
            <a href="{% url 'judge:problem' object.problem.number %}">{{ object.problem }}</a></br>
            {{ object.solving_date }}</br>
            {{ object.language }}</br>
            {{ object.user.username }}</br>
            {{ object.get_status_display }}</br>
        </p>
        <hr>
        {% for test in object.get_all_tests %}
        <p>
            {{ test.test_number }}
            {{ test.get_status_display }}
            {{ test.time_usage }} ms
        </p>
        {% endfor %}
        <hr>
        {% if user == object.user or is_group_teacher%}
            <p>{{ object.program_code|linebreaks }}</p>
        {% endif %}
    </div>
{% endblock main_content %}