{% extends 'base.html' %} 
{% load static i18n %}

{% block title %}{% trans "Password reset" %}{% endblock title %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/users/log.css' %}">
{% endblock extra_head %}

{% block main_content %}
    <div class="form-menu">
        <div class="main-title">
                <div class="title-text">
                <div class="title login">{% trans "Password reset" %}</div>
        </div>
        <div class="form-container">
            <p>{% trans "Your password has been set. You can " %}<a href="{% url 'users:login_or_signup' %}">{% trans "log in now" %}</a></p>
        </div>
        </div>
    </div>
{% endblock main_content %}