{% extends 'base.html' %} 
{% load static i18n %}
{% load widget_tweaks %}

{% block title %}{% trans "Reset your password" %}{% endblock title %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/users/log.css' %}">
{% endblock extra_head %}

{% block main_content %}
    <div class="form-menu">
        <div class="main-title">
                <div class="title-text">
                <div class="title login">{% trans "Reset Password" %}</div>
        </div>
        <div class="form-container">

        </div>
        <div class="form-inner">
            <form action="." class="login" method='post'>
                {% csrf_token %}
                {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field.errors }}
                    {{ hidden_field }}
                {% endfor %}
                <div class="field">
                        {{ form.email.errors }}
                        {% trans 'Email Address' as email_address%}
                        {% render_field form.email placeholder=email_address required="required" %}
                </div>
                {% for message in messages %}
                    <p class='messages'>{{ message }}</p>
                {% endfor %}
                <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" value="{% trans 'Confirm password reset' %}">
                </div>
                <div class="pass-link"><a href="{% url 'users:login_or_signup' %}">{% trans "Remembered password? Login" %}</a></div>
            </form>
            </div>
        </div>
        </div>
    </div>
{% endblock main_content %}