{% extends 'base.html' %} 
{% load static i18n %}
{% load widget_tweaks %}

{% block title %}{% trans "Reset your password" %}{% endblock title %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/users/log.css' %}">
{% endblock extra_head %}

{% block main_content %}
    <div class="form-menu">
        <div class="main-title">
                <div class="title-text">
                <div class="title login">{% trans "Reset your password" %}</div>
        </div>
        {% if validlink %}
            <div class="form-container">

            </div>
            <div class="form-inner">
                <p>{% trans "Please, enter your new password twice:" %}</p>
                <form action="." class="login" method='post'>
                    {% csrf_token %}
                    {% for hidden_field in form.hidden_fields %}
                        {{ hidden_field.errors }}
                        {{ hidden_field }}
                    {% endfor %}
                    
                    <div class="field">
                        {{ form.new_password1.errors }}
                        {% trans 'Enter your new password' as password %}
                        {% render_field form.new_password1 placeholder=password required="required" %}
                    </div>
                    <div class="field">
                        {{ form.new_password2.errors }}
                        {% trans 'Confirm password' as confirm_password %}
                        {% render_field form.new_password2 placeholder=confirm_password required="required" %}
                    </div>
                    {% for message in messages %}
                        <p class='messages'>{{ message }}</p>
                    {% endfor %}
                    <div class="field btn">
                        <div class="btn-layer"></div>
                        <input type="submit" value="{% trans 'Change my password' %}">
                    </div>
                    <div class="pass-link"><a href="{% url 'users:login_or_signup' %}">{% trans "Remembered password? Login" %}</a></div>
                </form>
                </div>
            </div>
        {% else %}
            <div class="form-container">
                <p>{% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}</p>
            </div>
        {% endif %}
        </div>
    </div>
{% endblock main_content %}