{% extends 'base.html' %} 
{% load static i18n %}
{% load widget_tweaks %}

{% block title %}{% trans "Reset your Password" %}{% endblock title %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/users/log.css' %}">
{% endblock extra_head %}

{% block main_content %}
    <div class="main-title">
            <div class="title-text">
            <div class="title login">{% trans "Reset your password" %}</div>
    </div>
    <div class="form-container">
        <p> {% trans "We've emailed you instructions for setting your password." %}</p>
    </div>
    </div>
{% endblock main_content %}