{% extends 'base.html' %} 
{% load widget_tweaks %}

{% load static i18n %}
{% block title %}{% trans "Solve task " %}{{task_number}}{% endblock title %}
{% block extra_head %}
    <link rel='stylesheet' href="{% static 'css/judge/submit_solution.css' %}"
{% endblock extra_head %}>

{% block main_content %}
<div class="wrapper">
    <form method="post" action=''>
    {% csrf_token %}

    {% if form.non_field_errors %}
        <ul>
        {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% for hidden_field in form.hidden_fields %}
        {% if hidden_field.errors %}
        <ul>
            {% for error in hidden_field.errors %}
            <li>({% trans "Hidden field " %}{{ hidden_field.name }}) {{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {{ hidden_field }}
    {% endfor %}
    
    <p>
        {{ form.problem_number.label_tag }}</br>
        {{ form.problem_number.errors }}
        {% render_field form.problem_number value=problem_number %}</br></br>

        {{ form.programming_language.label_tag }}</br>
        {{ form.programming_language.errors }}
        {% render_field form.programming_language %}</br></br>

        {{ form.source_code.label_tag }}</br>
        {{ form.source_code.errors }}
        {% render_field form.source_code class='textarea-wrapper' rows='20' %}
    </p>
    <button type="submit">{% trans "Submit" %}</button>
    </form>
</div>
{% endblock main_content %}

