{% extends 'base.html' %} 
{% load static %}

{% block title %}Competitions{% endblock title %}
{% block main_content %}
<div class="wrapper">
    <h2>Competitions</h2>
    {% if competitions %}
        <div class='list'>
            <table class="table">
                {% for competition in competitions %}
                <tr>
                    <td>
                        <a href={% url 'competitions:competition_detail' competition.pk %}>{{ competition.title }}</a>
                    </td>
                    <td>
                        {{ competition.start_date }}
                    </td>
                    <td>
                        {{ competition.end_date }}
                    </td>
                    <td>
                        {{ competition.group }}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    {% else %}
        <h3>No available competitions yet</h3>
    {% endif %}
</div>
{% endblock main_content %}
