{% extends 'base.html' %} 
{% load static i18n %}

{% block title %}{{competition.title}}{% endblock title %}
{% comment %} {% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/ajax_tabs.css' %}">
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
    <link rel="stylesheet" href="{% static 'css/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'css/competitions/competition_problems.css' %}">
    <script src={% static 'js/competitions/competition_detail.js' %} type='module'></script>
    <script src={% static 'js/competitions/delete_problem_from_competition.js' %}></script>
{% endblock extra_head %} {% endcomment %}

{% block main_content %}
<div class="wrapper">
    <h2>{{competition.title}}</h2>
        <div class="tab-wrap">
            <input type="radio" name="tabs" id="problems" data={% url 'competitions:competition_problems' competition.pk %} group.pk %} checked>
            <div class="tab-label-content">
                <label for="problems">
                    {% trans "Problems" %}
                </label>
            </div>

            <input type="radio" name="tabs" id="leaderboard" data={% url 'competitions:get_competition_leaderboard' competition.pk %}>
            <div class="tab-label-content">
                <label for="leaderboard">
                    {% trans "Leaderboard" %}
                </label>
            </div>

            <input type="radio" name="tabs" id="competition-queue" data={% url 'competitions:competition_solution_list' competition.pk %}>
            <div class="tab-label-content">
                <label for="competition-queue">
                    {% trans "Competition queue" %}
                </label>
            </div>
            <div class="slide"></div>
        </div></br>{% if messages %}
            <ul class='messages'>
                {% for message in messages %}
                    <li class="message {{ message.tags }}">
                        {{ message|safe }}
                        <a href="#" class="close">X</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <div id='tab-data'>{% block tab_content %}{% endblock tab_content %}</div>
    </div>
</div>
{% endblock main_content %}
