{% load static i18n %}
{% load template_tags %}


{% block tab_content %}
<table class="table align-middle table-bordered mt-3">
    <thead class="table-danger">
        <tr>
            {% if user.is_authenticated %}<th class="text-center">{% trans "Status" %}</th>{% endif %}
            <th class="text-center">{% trans "Number" %}</th>
            <th>{% trans "Title" %}
            {% if is_group_teacher and is_active_for_edit %}
                <th class="text-center">{% trans "Delete?" %}</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for problem in problems %}
            <tr>
                <td class="problem-status text-center">
                    {% get_user_problem_status problem user  as user_problem_status %}
                    {% if user_problem_status == 'AC' %}
                        <span>&#10004;</span>
                    {% elif user_problem_status == '' %}
                        <span>{% trans "Not submitted" %}</span>
                    {% elif user_problem_status == 'CE' %}
                        <span class="text-danger">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                            </svg>
                        </span>
                    {% else %}
                        <span class="text-warning">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                            </svg>
                        </span>
                    {% endif %}
                </td>
                <td class="problem-number text-center">
                        {% if user_problem_status == 'AC' %}
                        <a href="{% url 'competitions:competition_problem_detail' competition_id problem.number %}" class="text-decoration-none text-success text-center">{{ forloop.counter }}</a>
                    {% elif user_problem_status == '' or not user.is_authenticated %}
                        <a href="{% url 'competitions:competition_problem_detail' competition_id problem.number %}" class="text-decoration-none text-center">{{ forloop.counter }}</a>
                    {% elif user_problem_status == 'CE' %}
                        <a href="{% url 'competitions:competition_problem_detail' competition_id problem.number %}" class="text-decoration-none text-danger text-center">{{ forloop.counter }}</a>
                    {% else %}
                        <a href="{% url 'competitions:competition_problem_detail' competition_id problem.number %}" class="text-decoration-none text-warning text-center">{{ forloop.counter }}</a>
                    {% endif %}
                    
                </td>
                <td>
                    <a class="text-decoration-none" href={% url 'competitions:competition_problem_detail' competition_id problem.number %}>{{ problem.title }}</a>
                </td>
                {% if is_group_teacher and is_active_for_edit %}
                    <td>
                        {% csrf_token %}
                        <button delete_url="{% url 'competitions:delete_problem_from_competition' competition_id problem.number %}" onclick="delete_problem_from_competition(this.getAttribute('delete_url'));">X</button>
                    </td>
                {% endif %}
            </tr>
        
        {% empty %}
            <h3>{% trans "No problems in this competition yet." %}</h3>
        {% endfor %}
    </tbody>
</table>

<div class='list'>
    {% if is_competition_in_group %}
        {% if is_group_teacher and is_active_for_edit %}
            <a class="btn btn-primary" href={% url 'competitions:add_or_find_problem' competition_id %}>{% trans "Add problem to competition" %}</a>
        {% endif %}
    {% endif %}
</div>
{% endblock tab_content %}