{% extends 'base.html' %} 
{% load static %}

{% block title %}{{competition.name}}{% endblock title %}
{% block extra_head %}
    <script src={% static 'js/groups/group_details.js' %}></script>
{% endblock extra_head %}

{% block main_content %}
<div class="wrapper">
    <h2>{{competition.title}}</h2>
    <div class='nav-toolbar'>
        <nav class='tabs'>
            <a class='tabs-tab tabs-tab-active'
                data={% url 'competitions:competition_problems' competition.pk %}
                >Problems</a>
            <a class='tabs-tab'
                {% comment %} data={% url 'competitions:get_competition_leaderboard' competition.pk %} {% endcomment %}
                >Leaderboard</a>
            {% if is_competition_in_group %}
                {% if is_group_teacher %}
                    <a class='tabs-tab'
                    data={% url 'competitions:competition_solution_list' competition.pk %}
                    >Competition queue</a>
                {% endif %}
            {% endif %}
        </nav>
        <div id='tab-data'>{% block tab_content %}{% endblock tab_content %}</div>
    </div>
</div>
{% endblock main_content %}
