{% load static i18n %}


{% block tab_content %}
<div class='list'>
    {% if  users_count%}
        <div class="table">
            <div class="row header">
                <div class="cell"><span>{% trans "User" %}</span></div>
                <div class="cell"><span>{% trans "Solved problems" %}</span></div>
            </div>
    {% endif %}
    {% for username, solved_problems in users_count.items %}
        <div class="row">
            <div class="cell" data-title="User">
                <span>{{ username }}</span>
            </div>
            <div class="cell" data-title="Solved problems">
                <span>{{ solved_problems }}</span>
            </div></td>
        </div>
    {% empty %}
        <h3>{% trans "Noone successfully solved at least 1 problem in competition yet." %}</h3>
    {% endfor %}
    {% if  users_count%}
        </tbody>
        </div>
    {% endif %}
</div>
{% endblock tab_content %}
