{% load static i18n %}


{% block tab_content %}
    {% if  users_count %}
        <div class="card mt-2">
            <div class="card-body">
                <table class="table align-middle table-bordered">
                    <thead class="table-primary">
                        <tr>
                            <th class="text-center">{% trans "User" %}</th>
                            <th class="text-center">{% trans "Solved problems" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for username, solved_problems in users_count.items %}
                       {% if forloop.counter|divisibleby:2 %}
                            <tr class="table-secondary">
                        {% else %}
                            <tr>
                        {% endif %}
                            <td data-title="{% trans 'User' %}">
                                <a href="{% url 'users:profile' username %}" class="text-decoration-none">{{ username }}</a>
                            </td>
                            <td data-title="{% trans 'Solved problems' %}">
                                {{ solved_problems }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <h3>{% trans "Noone successfully solved at least 1 problem in competition yet." %}</h3>
    {% endif %}
</div>
{% endblock tab_content %}
